*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    height: 100%;
    }
h1{
    font-family: 'Hind', sans-serif;
    color: white;
    margin:1rem 0 2rem;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    width: 100%;
}
.style{
    color: lime;
    font-weight: 800;
}
.input1{
    background-color: white;
    border-radius: 25px;
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    padding:0.5rem 1rem;
    transition:1s;
    font-size: 1.25rem;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.add{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.5rem;
}
.add:hover{
    opacity: 0.5;

}
.input1:hover{
    border: 2px dashed lime;
    
}

.data{
    color: rgb(248, 248, 248);
    size: 1em;
    align-content: center;
    text-align: center;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 100%;
    border: none black;
    border-style:solid;
    border-bottom: solid rgb(255, 255, 255);
    border-width: 0.5px;
}
.data-container{
    margin-top: 2rem;
    display: block;
    width: 300px;
    background-color: #111;
    border-radius: 0rem;
    border-radius: 2rem;
    margin-right: 3.5rem;
    border-color: rgba(0,0,0,0);
    border-style: groove;

}
.container2{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    
}